In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import csv

In [5]:
df = pd.read_csv('data_science_job.csv', encoding='latin-1', quoting=csv.QUOTE_ALL)

In [6]:
# Display the first 5 rows of the dataframe
print(df.head())

           Company                                    Job Title  \
0              SGS                        Clinical Data Analyst
1          Ocorian                       AML/CFT & Data Analyst
2           Cricut                    Machine Learning Engineer
3      Bosch Group         Application Developer & Data Analyst
4  Publicis Groupe  Data Engineer Full time (Public Sector) USA

                          Location   Job Type Experience level   Salary  \
0    Richardson, TX, United States  Full Time      Entry-level   48K+ *
1                 Eb√®ne, Mauritius  Full Time      Entry-level   48K+ *
2  South Jordan, UT, United States  Full Time              NaN   90K+ *
3                 Nonantola, Italy  Full Time      Entry-level   48K+ *
4     Arlington, VA, United States  Full Time        Mid-level    108K+

                          Requirment of the company   \
0  Computer Science,Data quality,Genetics,Mathema...
1           Agile,Data management,Finance,Security,,
2  Agile,Architecture,AWS,Computer Science,Comput...
3       Engineering,Industrial,Oracle,Power BI,R,R&D
4  AWS,Azure,Computer Science,Consulting,Dataflow...

                                          Facilities
0                                               ,,,,
1                                               ,,,,
2                             Career development,,,,
3                                               ,,,,
4  Flex hours,Flex vacation,Parental leave,Unlimi...

In [7]:
print(df.info())    # Display the information of the dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3198 entries, 0 to 3197
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Company                     3197 non-null   object
 1   Job Title                   3197 non-null   object
 2   Location                    3197 non-null   object
 3   Job Type                    3197 non-null   object
 4   Experience level            2962 non-null   object
 5   Salary                      3009 non-null   object
 6   Requirment of the company   3198 non-null   object
 7   Facilities                  3198 non-null   object
dtypes: object(8)
memory usage: 200.0+ KB
None

In [8]:
print(df.describe()) # Display the summary statistics of the dataframe

                Company      Job Title          Location   Job Type  \
count              3197           3197              3197       3197
unique             1106           2138              1117          3
top     Publicis Groupe  Data Engineer  Bengaluru, India  Full Time
freq                126            105                90       3116

       Experience level    Salary  \
count              2962      3009
unique                4       218
top        Senior-level   115K+ *
freq               1876       253

                               Requirment of the company  Facilities
count                                                3198       3198
unique                                               2600        777
top     Big Data,Business Intelligence,Data analysis,E...       ,,,,
freq                                                   12        542

In [9]:
# Check for missing values
missing_values = df.isnull().sum()
print(missing_values)

Company                         1
Job Title                       1
Location                        1
Job Type                        1
Experience level              236
Salary                        189
Requirment of the company       0
Facilities                      0
dtype: int64